.box{
    height: 150px;
    width: 150px;
    border: 2px solid red;
    margin:50px auto;
    transition-duration: 2s;
}

.box:hover{
    background-color: aquamarine;
    /* transform: translateX(200px);
    transform: translateX(-200px);
    transform: translateY(100px);
    transform: translateY(-100px);
    transform: translateZ(100px); */
    
    /* transform: scaleX(1.2);
    transform: scaleY(1.5);
    transform: scaleZ(1.5);
    transform: scale(1.5);
    transform: scale(1.1); */

    /* transform: rotateX(45deg);
    transform: rotateX(90deg);
    transform: rotateY(60deg);
    transform: rotateY(90deg);

    transform: rotateZ(45deg);
    transform: rotateZ(-135deg);
    transform: rotate(90deg); */

    /* transform: skewX(45deg); */

    transform: rotate(45deg) scale(1.5) translateX(100px) translateY(100px);
    /* transform: scale(1.5); */

}