*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 54.5px;
    background-color: white;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}

.sectionA{
    margin-left: 70px;
}

.sectionB{
    margin-right: 70px;
}

.sectionA a{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}

.sectionB a{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    margin-right: 10px;
}

.abc{
    height: 712px;
    background-image: url("https://www.w3schools.com/w3images/architect.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abc p{
    font-size: 2.5em;
    color: white;
    padding: 10px;
}

.abc p b{
    background-color: black;
}

.image{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.image div img{
    width: 22vw;
}

.project p{
    font-size: 2em;
    margin: 30px 40px;
}