.box{
    height: 150px;
    width: 150px;
    border: 2px solid red;
    margin: 50px auto;
    transition-duration: 2s;
    /* transition-delay: 3s; */
}

.box:hover{
    background-color: aquamarine;
    /* transform: translateX(100px);
    transform: translateY(100px);
    transform: translateY(-100px);
    transform: translateZ(100px); */

    /* transform: rotateX(45deg);
    transform: rotateX(90deg);
    transform: rotateY(45deg);

    transform: rotateZ(45deg);
    transform: rotateZ(-60deg);
    transform: rotate(45deg);

    transform: scaleX(1.5);
    transform: scaleY(1.4);
    transform: scale(1.1); */

    transform: translateX(100px);
    transform: translateX(100px) translateY(100px) rotate(45deg);
}