*{
    margin: 0;
    padding: 0;
}
#nav{
    height: 54.5px;
    background-color: white;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

.sectionA{
    margin-left: 70px;
}

.sectionB{
    margin-right: 70px;
}

.sectionA a{
    color: black;
    font-size: 2em;
    text-decoration: none;
}

.sectionB a{
    color: black;
    font-size: 2em;
    text-decoration: none;
    margin-left: 15px;
}

.bg{
    height: 721px;
    background-image: url("https://www.w3schools.com/w3images/architect.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

.bg p b{
    background-color: black;
}