.box{
    height: 150px;
    width: 150px;
    border: 2px solid green;
    position: relative;
    /* animation-name: anime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-iteration-count: 3; */

    animation-name: changePos;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-direction: reverse;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0,-1.69, 0.71, 2.55);
}


@keyframes anime{
    /* from{
        top: 0;
        left: 0;
    }
    to{
        left: 300px;
    } */

    0%{
        top: 0;
        left: 0;
    }
    100%{
        left: 300px;
    }
}

@keyframes changePos{
    0%{
        top: 0;
        left: 0;
        background-color: aquamarine;
    }
    25%{
        top: 0;
        left: 300px;
        border-radius: 50%;
        background-color: brown;
    }
    50%{
        top: 300px;
        left: 300px;
        border-radius: 0;
        background-color: chartreuse;
    }
    75%{
        top: 300px;
        left: 0;
        border-radius: 50%;
        background-color: blueviolet;
    }
    100%{
        top: 0;
        left: 0;
        border-radius: 0%;
        background-color: teal;
    }
}